body {
  background-image: url("C:\KNU\2 year\ОООКП\gymProject\client\public\baackground1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  height: 100vh;
}
